
.logo{
    background-image: url(../img/pattern.png);
    background-color: rgb(5, 128, 246);
    background-size: contain;
    height: 100px;
}
.booleaner{
    height: 100px;
    width: 200px;
    position: relative;
    top: 30px;
    left: 0px;
    
}

.photo{
    margin: 10px;
    height: 410px;
    width: 1400px;
}

.photo1.photo2{
    width: inherit;
} 
h1{
    margin-bottom: 0px;
}



.data{
    color: grey;
    margin-bottom: 15px;
}

.author{
    color: blue;
}

.ulist{
    padding-left: 15px;
}

.lorem{
    background-color: yellow;
}

th{
    background-color: lightskyblue;
    color: white;
    
}
td{
    text-align: center;
}
table {
    table-layout: fixed;
    width: 1400px;
    }

    .interest{
        color: grey;
    }
    .monitor{
        background-image: url(../img/monitor.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width: 200px;
        font-size: 20px;
        color: white;
        margin-top: 15px;
    }
    .graph{
        background-image: url(../img/graph.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width: 200px;
        font-size: 20px;
        color: white;
        margin-top: 15px;

    }